* {
    margin: 0;
    padding: 0;
    font-family: Helvetica,Arial,  sans-serif;
    width: 100%;
}
.container{
    display: grid;
    margin-bottom: 20px;
}
.myheader{
    background-color: #fff;
    width: 100%;  
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.stickyheader{
    position: sticky;
    top: 0;
    z-index: 1;
}
.banner{
    background-color: black;
    text-align: center;
    color: orange;
    font-size: 15px;
    padding: 5px;
    font-weight: bold;   
}
.mode{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 5px;
}
.smode{
    display: flex;
    width: 70%;
}
.smenu{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    padding-left: 10px;
}

#light{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    width: 45px;
    height: fit-content;
    padding: 0;
}
#dark{
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    width: 45px;
    height: fit-content;
    padding: 0;
}
#logo{
    width: 140px;
    height: 120px;
}
.logo{
    width: 25%;
}
.header {
    background-color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 20px;
    width: 55%;
}
.searchArea{
    padding-top: 50px;
    width: 20%;
}
#searchForm{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}
#searchinput{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 1px solid orange;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}
.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}
#searchForm:hover{
    width: 200px;
    cursor: pointer;
}
#searchForm:hover input{
    display: block;
}
#searchForm:hover .fa{
    background: #07051a;
    color: white;
}
.bigimage{
    width: 100%;
    height: auto;
}
.text {
    color: #f2f2f2;
    font-size:16px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 96%;
    text-align: right;
}
.text a{
    color: white
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.slideshow {
    position: relative;
    margin: auto;
    width: 90%;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
ul {
    list-style-type: none;
}
li {
    float: left;
}
.header li{
    padding-right: 25px;
}
li a,select,button {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: white;
    border: none;
}
li a:hover:not(.active) {
    background-color: lightgrey;
}
.open-button {
    background-color:  black;
    color: rgb(253, 184, 56);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 200px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}
/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    border-radius: 20px;
    z-index: 9;
    width: 20%;
}
/* Add styles to the form container */
.form-container {
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}
/* Full-width textarea */
.form-container textarea {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 100px;
    border-radius: 20px;
}
/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: white;
    outline: none;
}
/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #63b666;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
/* Add a background color to the cancel button */
.form-container .cancel {
    background-color: black;
    border-radius: 20px;
}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
.main{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* section : image area*/
#sectionimg1{
    width: 100%;
    height: auto;
}
/* section : text area*/
#sectiontxt1{
    font-size: 5vw;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: auto;
}
.subfooter{
    background-color: #ebedee;
    width: 100%;
    margin-top: 25px;  
    font-weight: lighter;
    margin: auto;
}
.subfoo{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
.story{
    display: flex;
}
.story p{
    padding: 10px;
    text-align: justify;
    width: 50%;
}
.title{
    display: flex;
}
.title p{
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    width: 50%;
}
.bottom{
    background-color: rgb(253, 184, 56);
    width: 100%;
    height: auto;
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin: auto;
}
.codepromo{
    display: flex;
    width: 80%;
    margin: auto;
    padding : 30px 0px 30px 0px;
    align-items: center;
    justify-content: space-between;
}
.codepromo2{
    display: flex;
}
#email{
    display: block;
    border: 1px solid black;
    background-color: white;
    width: 200px;
    height: 40px;
    padding-left: 5px;
}
.submitemail{
    border: 1px solid black;
    height: 42px;
    width: 42px;
    background-color: black;
    color: white;
}
.foo{
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.boxes{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    line-height: 30px;
}

/* 
Tariq Ali Changes 
*/

.categories {
    text-align: center;
    padding: 20px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.categories div {
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
}

.prodSize {
    width: auto;
    height: auto;
}

ul li ul li {
    list-style-type: none;
    display: none;
}

ul li:hover ul li {
    list-style-type: none;
    display: block;
}

.card {
    position: relative;
    overflow: hidden;
}

.card:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 220%;
    top: -50%;
    left: -100%;
    z-index: 1;
    background-color: rgba(61, 230, 108, 0.387);
    transform: rotate(0deg);
    transform-origin: center top 2;
    transition: .5s;
}

.card:hover::before {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.card img {
    width: 100%;
    height: auto;
}

.card-text {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: -100%;
    background-color: rgba(255, 255, 255, 0.592);
    color: rgb(8, 1, 1);
    left: 0;
    z-index: 1;
    transition: 1.1s;
}

.card:hover .card-text {
    top: 100px;
}

.btn-success:hover {
    background-color: rgb(189, 90, 90);
    color: chocolate;
}

.blink {
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.blink:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.spanBlink {
    font-size: 20px;
    background-color: rgba(61, 230, 108, 0.387);
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}