/*------cart Items ---*/

.cart-page {
    margin: 80px 80px auto;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    direction: flex;
    flex-wrap: wrap;
    font-size: 12pt;
}

img {
    height: 50px;
    width: 50px;
}

th {
    padding: 5px;
    color: black;
    background: #ebedee;
    font-size: 16pt;
    text-align: center;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #7a7f81;
    font-size: 16px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid#7a7f81;
    width: 100%;
    max-width: 350px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}